* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$fade-grey: #ededed;
$grey: #ccc;
$muted-grey: #999;
$heart: #ff4f8f;
$white: #fff;

//LOADER STYLES
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background: #fff;
  // opacity: 0;
  // z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }

  // &.is-active {
  //   opacity: 1;
  //   z-index: 1;
  // }
}

.is-loading {
  position: relative;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch; /* Ensures equal height for flex items */
}

.card {
  width: 100%; /* Ensures the card takes up full width of its container */
  min-height: 100%; /* Ensures the card takes up full height of its container */
  display: flex;
  flex-direction: column;
  border: 1px solid #00d1b2;
}

.card-footer {
  margin-top: auto; /* Pushes the footer to the bottom of the card */
}

.card-footer-item {
  cursor: pointer;
}

.text-editor {
  width: 100%;
  color: black;
  background-color: white;
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
}

.start-button:hover {
  color: green;
}
